*{
    margin: 0px;
    padding: 0px;
}
/* HEADER */
.headerM{
    background-color: #3AB0FF;
    border: solid #3AB0FF;
    width: 100%;
    height: 15%;
  
}
/*css de la pagina principal -header */
h1 {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #FFF9F9;
    height: 2.81rem;
    padding-top: 0.93rem;
    
}

h2 {
    font-family: 'Roboto', sans-serif;
    }

/* body */
.bodyM{
    width: 100%;
    height: 100vh;
    display: block;
}
.mainBox{
    background-color: #DDDDDD;
    width: 100%;
    height: 100%;
}

/* ------------------------------------- */
/* Articulo del perfil */
.containerArtMari{
    width: 100%;
    height: 18.75rem;
    padding-top: 0.93rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
  
}
  /* imagen perfil */
.containerArtMari img{
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0.3rem;
    border: solid black 0.5px;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
}
.imgMari{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding: 0.93rem;
}
  /* presentación - inicio */
.presentationMari{
   order: 3;
   width: 100%;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
}
 /* letras h4 h2 h3 */
.presentationMari h4{
    width: 100%;
    height: 0.93rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.presentationMari h2{
    width: 100%;
    height: 1.56rem;
    padding: 0.31rem;
    display: flex;
    justify-content: center;
}
.presentationMari h3{
    width: 100%;
    height: 1.25rem;
    padding: 0.31rem;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
   /* contacto email */
.contactMari{
    border-radius: 0.2rem;
    border: solid black 0.5px;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    background-color: #1363DF;
    padding: 0.62rem;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
}
.contactMari a{
    color: #FFF9F9;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}
.contactMari:hover{
    background-color: #3AB0FF;
}
/* Sección de descripción */
.containerSectionMari{
    width: 100%;
    margin-top: 1.56rem;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.containerSectionMari h3{
    padding: 5px;
    width: 90%;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
   
}
  /* descripción */
.boxDescriptionMari{  
    width: 90%;

}
.boxDescriptionMari h4{
    width: 90%;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
  /* footer */
.footerM{
    background-color: #3AB0FF;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.footerM p{
    color: #FFF9F9;
}
 /* MEDIA QUERIES */ 
 /*MOBILE*/
 @media (min-width: 320px){
    .inputM{
        display: none;
    }
    .labelM{
        display: none;
    }
    .navMv{
        background-color: #3AB0FF;
    }
   
    .headernavMv li{
        font-size: 1.12rem;
        padding: 0.50rem;
        list-style: none; 
         
    }
    .headernavMv li:hover{
        filter: brightness(110%); 
     }
    .headernavMv li a{
       color: #FFF9F9;
       text-decoration: none;
       font-family: 'Roboto', sans-serif;
       font-weight: 600;
    }
    .headernavMv li a:hover{
        color: #1363DF; 
     }
.ul { 
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
    }
    
/* header */

    .headernavMv{
    display: none;
    justify-content: center;
    padding: 0%;
    width: 100%;
    }
 
    
.inputM:checked ~ .headernavMv{
    display: block;

}
.inputM:hover ~ .labelM {
    background: #3AB0FF;
}
.labelM:hover{
    background: #1363DF;
}

.labelM{
    box-sizing: border-box;
    display: block;
    border: solid 1px black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-color: #3AB0FF;
}
.headernavMv{
    display: none;
    background-color: #3AB0FF;
    position: absolute;
    z-index: 1;
    width: 100%;
    right: 0.1rem;
}        
    } 
        /*Tablet*/
    @media (min-width: 480px){

    }
     /*DESKTOP*/
    @media (min-width: 760px){
        .inputM{
            display: none;
        }
        .labelM{
            display: none;
        }
.headernavMv{
            display: flex;
            justify-content: space-evenly;
            padding: 0%;
            
            }
.headernavMv li a{
        text-decoration: none;
        color: white;
}
      /* Articulo del perfil- desktop */
.containerArtMari{
    width: 100%;
    height: 18.75rem;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
 /* presentación - desktop */
 .presentationMari{
    order: 3;
    width: 100%;
   /*  height: px; */
    flex-direction: column;
 }
 .contactMari{
    border-radius: 0.2rem;
    border: solid black 0.5px;
    position: relative;
    bottom: -120px;
    left: 80px;
    
}

  /* imagen perfil */
  .containerArtMari img{
    height: 280px;
    width: 200px;
    border-radius: 0.5rem;
    border: solid black 1.5px;
 
}
.imgMari{
    width: 40%;
    display: flex;
    justify-content: start;
}
/* letras h4 h2 h3 */
.presentationMari h4{
    height: 25px;
    justify-content: start;
    
}
.presentationMari h2{
    height: 45px;
    justify-content: start;
    
}
.presentationMari h3{
    height: 34px;
    justify-content: start;
}
 /* descripción h3 - desktop*/
.containerSectionMari h3{
    justify-content: start;
}
    
    }