/*css de la pagina principal -header */
h1 {
    font-family: Papyrus, Helvetica, sans-serif;
    font-size: 40px;
    background-color: #A84118;
    justify-content: center;
    align-items: center;
    display: flex;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
    font-family: Courier, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: #E09255;
    
}
.headernav {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
   
    padding: 30px;
    

}
.headernavanc {
margin: 2rem;
font-size: 30px;
font-family: Courier, Helvetica, sans-serif;
font-weight: bolder;
color: white;

}
.mainparrafo {
    background-color: black;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;

}
/* ------------------------------------- */
/* Articulo del perfil */
.containerArtMari{
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
   
}
  /* imagen perfil */
.containerArtMari img{
    height: 150px;
    width: 130px;
    margin: 0;
    padding: 0;
    border-radius: 0.3rem;
    border: solid black 0.5px;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
}
.imgMari{
    width: 100%;
    display: flex;
    justify-content: center;
    /* order: 2; */
}
  /* presentación - inicio */
.presentationMari{
   order: 3;
   width: 100%;
  /*  height: px; */
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
}
 /* letras h4 h2 h3 */
.presentationMari h4{
    width: 100%;
    height: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.presentationMari h2{
    width: 100%;
    height: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.presentationMari h3{
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
   /* contacto email */
.contactMari{
    border-radius: 0.2rem;
    border: solid black 0.5px;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
}
/* Sección de descripción */
.containerSectionMari{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */

}
.containerSectionMari h3{
    margin: 0;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: center;
}
  /* descripción */
.boxDescriptionMari{  
    width: 90%;
    margin: 0;
    padding: 0;

}
.boxDescriptionMari h4{
    width: 90%;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: flex-start; */
}

 /* MEDIA QUERIES */ 
 /*MOBILE*/
 @media (min-width: 320px){
    
           
    } 
        /*Tablet*/
    @media (min-width: 480px){
    
    
    }
     /*DESKTOP*/
    @media (min-width: 760px){
      /* Articulo del perfil- desktop */
.containerArtMari{
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
 /* presentación - desktop */
 .presentationMari{
    order: 3;
    width: 100%;
   /*  height: px; */
    flex-direction: column;
 }
 .contactMari{
    border-radius: 0.2rem;
    border: solid black 0.5px;
    position: relative;
    bottom: -120px;
    left: 80px;
    
}

  /* imagen perfil */
  .containerArtMari img{
    height: 280px;
    width: 200px;
    border-radius: 0.5rem;
    border: solid black 1.5px;
 
}
.imgMari{
    width: 40%;
    display: flex;
    justify-content: start;
}
/* letras h4 h2 h3 */
.presentationMari h4{
    height: 25px;
    justify-content: start;

}
.presentationMari h2{
    height: 45px;
    justify-content: start;
    
}
.presentationMari h3{
    height: 34px;
    justify-content: start;
}
 /* descripción h3 - desktop*/
.containerSectionMari h3{
    justify-content: start;
}
    
    }