
html {
    height: 100%;
}
body {
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: lightblue;
}
.Title1 {
    padding: 0%;
    margin: 0%;
    padding-top: 0%;
    padding: 0%;
    justify-content: center;
    background-color: black;
    font-family: Lucida Handwriting, Helvetica, sans-serif;;
    color: white;
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
.headernav {
    padding: 0%;
    margin: 0%;
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center; 
    background-color: rgb(158, 158, 158);
    border-bottom: solid rgb(0, 0, 0);
    border-right: solid rgb(0, 0, 0);
    border-left: solid rgb(0, 0, 0);
}
.headernavanc {
    margin: 2rem;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;

}
.headernavanc a:hover {
    color: lightblue;

}
.Title2 {
    display: flex;
    justify-content: left;
    background-color: black;
    font-family: Lucida Handwriting, Helvetica, sans-serif;;
    color: rgb(224, 224, 224);
    border: solid grey 0.1cm;
    width: 31%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.article-container {
    padding-bottom: 0.5cm;
    display: flex;
    width: 100%;
}
.article-img {
    border-radius: 0.5rem;
    border: solid black 2px;
    box-shadow: 3px 4px 19px black;
    max-width: 50%;
    max-height: 240px;
    margin-right: 25px;
}
.h2-article {
    font-family: copperplate, fantasy, sans-serif;
    padding: 10px 10px;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 25%;
    text-shadow: 4px 6px 6px black;
}
.mail {
    width: 7%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    background-color: rgb(158, 158, 158);
    border: solid black 0.06cm;
    border-radius: 0.1cm;
}
.mail a:hover {
    color:red;
}
.footerHome {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
}