* { padding: 0;
    margin: 0;}
    h1 {
        font-family: Papyrus, Helvetica, sans-serif;
        font-size: 40px;
        background-color: #A84118;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    ul {
        font-family: Courier, Helvetica, sans-serif;
        font-weight: bolder;
        background-color: #E09255;
        
    }
    .headernav {
        list-style: none;
        display:flex;
        flex-direction: row;
        justify-content: center ;
        align-items: center;
       
        padding: 30px;
        
    
    }
    .headernavanc {
    margin: 2rem;
    font-size: 30px;
    font-family: Courier, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    
    }
    .mainparrafo {
        background-color: black;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
    
    }