/* General */
html {
    height: 100%;
}
body {
    background-color: #ebd8fd;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
* { padding: 0;
    margin: 0;}
    h1 {
        color: white;
    }
a {
     text-decoration: none;
     color: white;
  }
a:hover {
    color: #ebd8fd;   
} 
li {
        list-style: none;
   }
  
 /* header */
.headerContainer {
    width: 100%;
}
.headerContainer h1 {
    color: white;
    background-color: #131241;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.headerContainer nav{
    background-color: #2A1241;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    
}
.headernav{
    margin-left: 15%;
    margin-right: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    padding: 30px;

}
.headernav li{
    padding: 5px;
}
/* main  */
.mainHome{
    height: 300px;
}
.mainparrafo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 2%;
} 
/* main integrantes */
.mainIntegrantes{
    justify-content: center;
    padding: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.contenedorflex {
    justify-content: center;
}
.cajaintegrante {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(143, 92, 177);
    width: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow:10px 10px 5px rgb(90, 91, 91);
    text-align: center;
    font-weight: bold;

}
/* main - servicios */
.mainparrafoS {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 2%;
}
.mainServicios{
    height: 150px;
}
.ImgSU {
    padding-left: 32%;
    padding-bottom: 2%;
    width: 38%;
    height: 38%;
}

/* main - contacto */
.mainContacto{
    height: 300px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.article-container {
    padding-top: 2%;
    padding-left: 35%;
    padding-bottom: 0.5cm;
    display: flex;
}
.article-img {
    border-radius: 0.5rem;
    border: solid black 2px;
    max-width: 50%;
    max-height: 240px;
    margin-right: 25px;
}
.h2-article {
    font-family: copperplate, fantasy, sans-serif;
    padding: 10px 10px;
}
.pCont {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-right: 25%;
    text-shadow: 1px 1px 5px black;
}
.formC {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.formdiv {
    padding-left: 45%;
    justify-content: center;
}
form.formC {
    display: table;
}
label, input {
    display: table-cell;
    margin-bottom: 10px;
}
label {
    padding-right: 10px;
}

 /* footer */
.footerHome {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
    } 