/* General */
* { padding: 0;
    margin: 0;}
a {
     text-decoration: none;
     color: black;
  }
    
li {
        list-style: none;
   }
  
 /* header */
.headerContainer {
    width: 100%;
}
.headerContainer h1 {
    width: 100%;
    background-color: #A84118;
    font-family: Papyrus, Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.headerContainer nav{
    background-color: #E09255;
    width: 100%;
    font-family: Courier, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    
}
.headernav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    padding: 30px;

}
.headernav li{
    padding: 5px;
}
/* main  */
.mainHome{
    height: 300px;
}
.mainparrafo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
} 
/* main integrantes */
.mainIntegrantes{
   padding: 20px;
   height: 220px;
}
/* main - servicios */
.mainServicios{
   height: 300px;
}

/* main - contacto */
.mainContacto{
    height: 300px;
 }
 
 /* footer */
.footerHome {
    width: 100%;
}   
.footerHome h2{
    width: 100%;
    background-color: #A84118;
    font-family: Papyrus, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 18px;
    padding: 5px;
} 
.footerHome section{
    background-color: #E09255;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 13px;
   
}
.footerSection h3{
    display: flex;
    justify-content: center;
}
.footerSection p{
    display: flex;
    justify-content: center;
}

.footerHome div{
    background-color: #E09255;
    display: flex;
    justify-content: center;
    font-size: 10px;
} 



  /* Perfil marilyn vino Css */
@import url('marilynV.css');
